<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adatbázis user hozzáadás</title>
</head>
<body>
    <!-- ha van a flash session-ben adat akkor azt kiírjuk -->
    <% if (errors.length > 0) { %>
        <% errors.forEach( err => { %>
            <li><%= err %></li>
        <% }) %>
    <% } %>
    
    <% console.log('email:', email) %>
    <fieldset>
        <legend>Belépés</legend>
        <form action="/login-process" method="post">
            <label for="email">Email:</label>
            <br>
            <input type="text" name="email" id="email" placeholder="Add meg az email címed" value="<%=email%>">
            <br>
            <label for="password">Jelszó:</label>
            <br>
            <input type="text" name="password" id="password" placeholder="Add meg a jelszavad">
            <br><br>
            <button>Belépés</button>
        </form>
    </fieldset>
</body>
</html>
